<h2>Template: Básicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="">

      <!-- TODO: Campo del producto -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label"> Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="nombre del producto">
          <span class="form-text text-danger">Debe de ser de letras</span>
        </div>
      </div>

            <!-- TODO: Campo del precio -->
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label"> Precio</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" placeholder="precio del producto">

              </div>
            </div>


                        <!-- TODO: Campo de existencias -->
                        <div class="row mb-3">
                          <label for="" class="col-sm-3 col-form-label"> Existencias</label>
                          <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="Existencias del producto">

                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <button type="submit"
                              class="btn btn-primary float-end"
                            >
                              Guardar
                            </button>
                          </div>
                        </div>

    </form>
  </div>
</div>
